<%- include('partials/header.ejs'); -%>

<head>

    <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'><link rel="stylesheet" href="../assets/alert/style.css">
 


</head>
<body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <!-- <div class="page-title">
                                    <h1>Hello, <span>Welcome Here</span></h1>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Allowances</h4>

                                </div>


                                <div class="card-body">
                                    <div class="horizontal-form-elements">
                                        <form class="form-horizontal" action="\allowances" method="post">
                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">DA</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="da_MultFactor" value=<%= data[0]["da_MultFactor"]%> class="form-control" required="required">
                                                        </div>
                                                    </div>

    

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">HRA</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="hra_MultFactor" value=<%= data[0]["hra_MultFactor"]%> class="form-control" required="required">
                                                                
                                                        </div>
                                                    </div>

                                            

                                                

                                                    
                                                    
                                                </div>
                                                    <!-- /# column -->
                                                    <!-- <div class="column"> -->
                                                    <div class="col-lg-6">

                                                        

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">CCA</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="cca" value=<%= data[0].cca %> class="form-control"
                                                                    placeholder="Enter CCA" required="required">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">TA</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="ta" value=<%= data[0].ta %> class="form-control"
                                                                    placeholder="Enter TA" required="required"> 

                                                            </div>
                                                        </div>

    
                                                        <!-- <button type="submit" onclick="alertFunction()" class="btn btn-primary">Primary</button> -->
                                                    <!-- <input type="submit" value="Submit"> -->



                                                    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert" value="submit" id="myAlert">
                                                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>


                                                      </div> -->

                                                      <!-- <div class='customAlert'>
                                                        <p class='message'></p>
                                                          <input type='button' class='confirmButton' value='Ok'>
                                                      </div>
                                                        
                                                      <input type='button' class='rab' value='Raise alert'> -->

                                                      <!-- <button type="submit" value="showAlert" onclick="showAlert();"> Show Alert</button>

                                                        <div class="container" style="display:none;" id="myAlert">
                                                            <h2>Dismissal Alert Messages</h2>
                                                            <div class="alert alert-success alert-dismissable" id="myAlert2">
                                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                                Success! message sent successfully.
                                                            </div>

                                                        </div> -->

                                                        
                                                        <br />
                                                        <div class="row text-center">
                                                          <div>
                                                            <button class="button small round success">Submit</button>
                                                          </div>
                                                          <!-- <div>
                                                            <button class="button large round alert">Error notification</button>
                                                          </div> -->
                                                        </div>

                                                      

                                                      

                                                    </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script><script  src="../assets/alert/script.js"></script>
</body>

</html>