<%- include('partials/header.ejs'); -%>

  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
    <link rel="stylesheet" href="../assets/alert/style.css">
    <style>
      /* .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    } */

      .dropbtn:hover,
      .dropbtn:focus {
        background-color: #3e8e41;
      }

      #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
      }

      #myInput:focus {
        outline: 3px solid #ddd;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown a:hover {
        background-color: #ddd;
      }

      .show {
        display: block;
      }
    </style>
    <script> const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    </script>
  </head>

  <body>

    <div class="content-wrap">
      <div class="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
              <div class="page-header">
                <!-- <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div> -->
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card">
                <div class="card-title">
                  <h4>Search</h4>

                </div>
                <div class="dropdown">
                  <label>
                    <h3>
                  </label></h3> <button padding="40px" onclick="myFunction()" class="dropbtn">Income Tax Declaration
                    </button>
                  <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

                    <% for(var i=Employees.length-1; i>= 0; i-- ) { %>
                      <a href="/declarations/<%=Employees[i].empID%>">
                        <%= Employees[i].empName %>
                      </a>
                      <% }%>
                  </div>
                </div>
                <script>
                  function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                  }

                  function filterFunction() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                      txtValue = a[i].textContent || a[i].innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                      } else {
                        a[i].style.display = "none";
                      }
                    }
                  }
                </script>
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-title">
                      <h4>Declarations</h4>

                    </div>


                    <div class="card-body">
                      <div class="horizontal-form-elements">
                        <form class="form-horizontal" action="\declarations" method="post">
                            <div class="row">
                                <% var i=0 %>
                                <div class="col-lg-6">

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label"> Employee ID
                                            (empXXX) <span class="text-danger">*</span></label>
                                        <div class="col-lg-6">
                                            <input type="text" name="empID" class="form-control"  
                                            value="<%= Employees[i].empID %>" pattern="+emp." title="enter valid emp ID"
                                                ruqt>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">Name (As per Aadhar Card) <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" name="empName" class="form-control" value="<%= Employees[i].empName %>"
                                                ruqt>
                                        </div>
                                    </div>

                                
                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">PAN No. <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" name="Pan_No" class="form-control"
                                                pattern=".{10,10}" title="10 alphanumeric characters needed" value="<%= Employees[i].Pan_No %>"
                                                ruqt>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">Tax Regime <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" name="emp_temp_regime" class="form-control"
                                            value="<%= Employees[i].emp_temp_regime %>" ruqt>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">Gross Total</label>
                                        <div class="col-lg-6">
                                            <input type="number" name="gross_total" class="form-control" ruqt>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">80C</label>
                                        <div class="col-lg-6">
                                            <input type="number" name="c" class="form-control" ruqt>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">80G</label>
                                        <div class="col-lg-6">
                                            <input type="number" name="g" class="form-control" ruqt>
                                        </div>
                                    </div>
                                    
                                    
                                    

                                </div>
                                    <div class="col-lg-6">

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">80D</label>
                                            <div class="col-lg-6">
                                                <input type="number" name="d" class="form-control" ruqt>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">80E</label>
                                            <div class="col-lg-6">
                                                <input type="number" name="e" class="form-control" ruqt>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">80CCC</label>
                                            <div class="col-lg-6">
                                                <input type="number" name="ccc" class="form-control" ruqt>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">80CCD</label>
                                            <div class="col-lg-6">
                                                <input type="number" name="ccd" class="form-control" ruqt>
                                            </div>
                                        </div>

                                        <input type="number" name="age" value="<%= Employees[i].age %>" class="form-control" hidden >

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">80DD</label>
                                            <div class="col-lg-6">
                                                <input type="number" name="dd" class="form-control" ruqt>
                                            </div>
                                        </div>
                                       

                                    </div>
                                    <!--card ka end -->

                                    <br />


                                
                            </div>

                            <button class="btn btn-primary" type="submit" style="float:right;">Submit</button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </section>
            </div>
          </div>
        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script>
        <script src="../assets/alert/script.js"></script>



        <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
        <script src="../assets/assets/js/scripts.js"></script>
        <!-- scripit init-->
        <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>


  </body>

  </html>