<%- include('partials/header.ejs'); -%>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <script>
        function myFunction() {
          alert("Differences Added Successfully!");
        }
        </script>
    <style>
        .arrow {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          
        }
        
        .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    </style>
     <script type="text/javascript">  
        function selects(){  
            var checkedButtons = document
                .querySelectorAll(".checkedButtons");
            console.log(checkedButtons)
            for (var i = 0; i < checkedButtons.length; i++) {
                checkedButtons[i].checked = true;
            }
        }  
        function deSelect(){  
            var checkedButtons = document.querySelectorAll(".checkedButtons");
            //   console.log(checkedButtons)
            for (var i = 0; i < checkedButtons.length; i++) {
                checkedButtons[i].checked = false;
            }
        }  
    
        
        var x = document.querySelector("#checks");
      //  console.log("x= ",x);


            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        
</script>  
</head>
    <body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <form class="form-horizontal" action="\differences" method="post">
                        <div class="row">
                            <div class="col-lg-8 p-r-0 title-margin-right">
                                <div class="page-header">
                                    <!-- <div class="page-title">
                                        <h1>Hello, Welcome Here</h1>
                                    </div> -->
                                </div>
                            </div>

                            <!-- <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Select Month for Proceeding With Differences</h4>

                                    </div>


                                    <div class="card-body">
                                        <div class="horizontal-form-elements">

                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Enter No. of Months
                                                            </label required>
                                                        <div class="col-sm-4">
                                                            <input type="text" name="months" class="form-control">
                                                        </div>
                                                    </div>

                                                    
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        

                        </div>

                        <section id="main-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="bootstrap-data-table-panel">
                                            <div class="table-responsive">
                                                <form class="form-horizontal" action="\updatepay" method="post">
                                               
                                                    <input type="button" class="btn btn-danger" style="float: right;" onclick='deSelect()'
                                                    value="Deselect All" />
        
                                                <input type="button" class="btn btn-success" style="float: right;" onclick='selects()'
                                                    value="Select All" />
                                                
                                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                                    <br><br><br><br>
                                                    Start Month:
                                                    <input type="month" id="month" name="month"><br><br><br><br>

                                                    End Month:
                                                    <input type="month" id="month" name="month"><br><br><br><br>
                                                    <thead>
                                                        <tr>
                                                            <th>Employee ID<p><i class="arrow down" style="float: right;"></i></th>
                                                            <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                                                            <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                                                            <th>Position <p><i class="arrow down" style="float: right;"></i></th>
                                                            <th>Difference<p><i class="arrow down" style="float: right;"></i></th>
                                                            
        
                                                        
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var i = Employees.length-1; i >= 0 ; i-- ) { %>
                                                            <tr>
                                                                <td><%= Employees[i].empID %></td>
                                                                <td><%= Employees[i].empName %></td>
                                                                <td><%= Employees[i].dept %></td>
                                                                <td><%= Employees[i].designation %></td>
                                                                <td> <input class="checkedButtons" type="checkbox" name=<%= Employees[i].empID %> id="check" value="1"><br> </td>
                                                            </tr>
                                                        <% }%>
                                                    </tbody>
        
        
                                                </table>
        
        
                                                  
                                            </div>
        
                                        </div>
                                    </div>
               
                                </div>
        
                            </div>
        
                                
        
                            
                            </div>
                            
        
                        </section>


                        
                        <input class="btn btn-primary" style="float: right;" type="submit" value="Submit" onclick="myFunction()">

  
                    </form>

                   

                </div>
            </div>



        </div>

                  
                      <script src="../assets/assets/js/lib/bootstrap.min.js"></script><script src="../assets/assets/js/scripts.js"></script>
                      <!-- scripit init-->
                      <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
                      <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
                      <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>

                      <script>
                        function manage(txt) {
                            var bt = document.getElementById('submit');
                            var ele = document.getElementsByTagName('input'); 
                    
                            // Loop through each element.
                            for (i = 0; i < ele.length; i++) {
                    
                                // Check the element type.
                                if (ele[i].type == 'text' && ele[i].value == '') {
                                    bt.disabled = true;    // Disable the button.
                                    return false;
                                }
                                else {
                                    bt.disabled = false;   // Enable the button.
                                }
                            }
                        }
                    </script>
    </body>

    </html>