<%- include('partials/header.ejs'); -%>

    <head>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../assets/alert/style.css">

        <script>
            function myFunction() {
              alert("Donations Added Successfully!");
            }
            </script>
        <style>
            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;

            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        </style>
        <script type="text/javascript">
            function selects() {
                var checkedButtons = document
                    .querySelectorAll(".checkedButtons");
                console.log(checkedButtons)
                for (var i = 0; i < checkedButtons.length; i++) {
                    checkedButtons[i].checked = true;
                }
            }
            function deSelect() {
                var checkedButtons = document.querySelectorAll(".checkedButtons");
                //   console.log(checkedButtons)
                for (var i = 0; i < checkedButtons.length; i++) {
                    checkedButtons[i].checked = false;
                }
            }

            // $(document).ready(function() {
            //  // on form submit
            // $("#form").on('submit', function() {
            //     // to each unchecked checkbox
            //     $(this + 'input[type=checkbox]:not(:checked)').each(function () {
            //         // set value 0 and check it
            //         $(this).attr('checked', true).val(0);
            //     });
            // })
            // var checkBoxValue = $('#checkBox').is(':checked')?$('#checkBox').val():false-->

            var x = document.querySelector("#checks");
      //  console.log("x= ",x);

        </script>
    </head>

    <body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Donations</h1>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title">

                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <form class="form-horizontal" action="\truncate" method="post">
                        <input class="btn btn-primary" style="float: left;width:20%" type="submit" value="Delete Previous records">
                        <input name="table" value="donation" hidden>
                    </form>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                
                <form class="form-horizontal" action="\donations" method="post">

                <div class="row">
                    <div class="col-lg-6">

                        <div class="form-group">
                                <label class="col-sm-4 control-label" style="text-align:left;">No. of Days' Amount To Donate</label>
                                <div class="col-sm-4">
                                    <input type="text" name="donateDays" id="days" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="text-align:left;">Cause</label>
                                <div class="col-sm-6">
                                    <input type="text" name="cause" id="cause" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        
                                            <input type="button" class="btn btn-danger" style="float: right;" onclick='deSelect()'
                                            value="Deselect All" />

                                        <input type="button" class="btn btn-success" style="float: right;" onclick='selects()'
                                            value="Select All" />
                                        
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Employee ID<p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Position <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Apply Donations To<p><i class="arrow down" style="float: right;"></i></th>
                                                    

                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = Employees.length-1; i >= 0 ; i-- ) { %>
                                                    <tr>
                                                        <td><%= Employees[i].empID %></td>
                                                        <td><%= Employees[i].empName %></td>
                                                        <td><%= Employees[i].dept %></td>
                                                        <td><%= Employees[i].designation %></td>
                                                        <td> <input class="checkedButtons" type="checkbox" name=<%= Employees[i].empID %> id="check" value="1"><br> </td>
                                                    </tr>
                                                <% }%>
                                            </tbody>


                                        </table>


                                          
                                    </div>

                                    </div>
                                </div>
                                <!-- /# card -->
                            </div>

                        </div>



                        <button type="button" class="btn btn-primary" onclick="submitFn(event)" style="float:right">Submit</button>


                        </form>

                </div>
                <br>
                <br><br><br>

                </section>
            </div>
        </div>
        </div>



        <script>
            
            function submitFn(event) {
                event.preventDefault()
                console.log("HERE")
            

                var checkedButtons = document.querySelectorAll("#days,#cause,.checkedButtons");
                // var newValue=document.getElementById('new');
                console.log("days"+checkedButtons[0].value)
                console.log("cause"+checkedButtons[1].value)
                
                var data=[]
                
                for (var i = 2; i < checkedButtons.length; i++) {
                    if(checkedButtons[i].checked)
                    {
                        
                        data.push(checkedButtons[i].name)
                    }
                    
                }

                // console.log("newValue"+newValue)

                // console.log("data"+data)
                // console.log("arr"+arr)
                    
                var sendData={}

                sendData["donateDays"]=checkedButtons[0].value
                sendData["cause"]=checkedButtons[1].value
                for (var i in data) {
                        var prop=data[i];
                        sendData[prop]=1
                }

                
                console.log("data" + data)
                console.log("sendData" + sendData)
            
                axios.post('http://localhost:3000/donations',sendData)
                    .then(function (response) {
                        if(response.data.status=="error")
                        {
                            console.log("status" + response.data)
                            console.log("ERROR")
                            var message=response.data.message
                            alertify.set({ delay: 3000 });
	    							alertify.error(message); 
                                     
                        }
                        else
                        {
                            console.log("SUCCESS")
                            console.log(response)
                            var message=response.data.message
                            alertify.set({ delay: 3000 });
  							alertify.success(message);  
                        }
                        
                    })
                    .catch(function (error) {
                        //console.log("ERROR")
                        console.log(error)
                    });   
            }
        </script> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script>
<script  src="../assets/alert/script.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>


    </body>

    </html>



