<%- include('partials/header.ejs'); -%>

    <head>

        <meta charset="UTF-8">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
        <link rel="stylesheet" href="../assets/alert/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <style>
            .required:after {
                content: "*";
                color: red;
            }
        </style>

        <script>

            var handle_dependent_selects = function ($category) {
                var $designation = document.getElementById($category.getAttribute('data-designation-id')),
                    $selected = $category.options[$category.selectedIndex],
                    category_val = $selected.value;

                for (var i = 0; i < $designation.options.length; i++) {
                    var $option = $designation.options[i];
                    if ($option.value != '') {
                        $option.setAttribute('hidden', true);
                    }
                };

                if (category_val) {
                    var designation_options = $selected.getAttribute('data-designation-options'),
                        designation_options_array = designation_options.split('|#');

                    for (i = 0; i < $designation.options.length; i++) {
                        var $option = $designation.options[i];
                        if ($option.value == "") {
                            $option.innerText = "--------";
                            continue;
                        }
                        if (designation_options_array.indexOf($option.value) != -1) {
                            $option.removeAttribute('hidden');
                        }
                    };

                } else {
                    var show_text = $designation.getAttribute('data-text-if-category-empty');
                    if (!show_text) {
                        show_text = 'Select ' + $category.name;
                    }
                    for (i = 0; i < $designation.options.length; i++) {
                        var $option = $designation.options[$designation.selectedIndex];
                        if ($option.value == "") {
                            $option.innerText = '- ' + show_text + ' -';
                            break;
                        }
                    };
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                var $categorys = document.getElementsByClassName('dependent-selects__category');
                for (var i = 0; i < $categorys.length; i++) {
                    handle_dependent_selects($categorys[i]);
                    $categorys[i].addEventListener('change', function () {
                        handle_dependent_selects(this)
                    })
                }
            }, false);

        </script>
    </head>

    <body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">


                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-title">
                                <h4> Do you want to Edit Dates? <a href="editdates">Click Here</a></h4>
                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-title">
                                <h4>Edit Employee</h4>

                            </div>

                            
                            <form class="form-valide" action="\editEmployee" method="post">




                            <!-- <div class="card-body"> -->
                            <div class="horizontal-form-elements" class="form-validation">



                                    <div class="row">
                                        <div class="col-lg-5">

                                            <% var i=0 %>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label"> EMP ID
                                                        (empXXX) <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="text" value="<%= Employees[i].empID %>"
                                                            name="empID" onkeyup="manage()"  class="required" 
                                                             readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Name (As per Aadhar
                                                        Card) <span
                                                        class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="text" name="empName" onkeyup="manage()"  class="required"
                                                            value="<%= Employees[i].empName %>" placeholder="Enter Name"
                                                            ruqt>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Email ID (Personal)  <span
                                                        class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input id="val-email" name="emailID" onkeyup="manage()"  class="required"
                                                            type="email" value="<%= Employees[i].emailID2 %>"
                                                            placeholder="admin@gmail.com" ruqt>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Email ID (PICT)  <span
                                                        class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input id="example-email2" name="emailID2" onkeyup="manage()"  class="required"
                                                            type="email" value="<%= Employees[i].emailID %>"
                                                            placeholder="admin@pict.edu" pattern=".+@pict\.edu"
                                                            title="enter valid email ID">
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    function ShowHideDiv() {
                                                        var ddlPassport = document.getElementById("id_category");
                                                        var dvPassport = document.getElementById("dvPassport");
                                                        dvPassport.style.display = ddlPassport.value == "nonteaching" ? "block" : "none";
                                                    }
                                                </script>

<div class="form-group row">
                                                
    <label  class="col-lg-6 col-form-label">Designation Category: <span
        class="text-danger">*</span></label>
    <div class="col-lg-6">
     <select name="designationCategory" id="id_category" onchange="ShowHideDiv()"  data-designation-id='id_designation'  class='dependent-selects__category' required  >
    <option value="">---------</option>
    <option value="teaching" data-designation-options="Principal|#professor|#Associate Professor|#Assistant Professor|#Workshop Superintendent|#Lecturer (Sr. Scale)|#Lecturer|#Director of Physical Education & Sports">Teaching</option>
    <option value="nonteaching" data-designation-options="Registrar|#Librarian|#OffSup|#Technical Assistant|#Lab. Assistant|#Jr. Library Assistant|#Library Attendant|#Senior Clerk|#Junior Clerk|#PurOff|#BS|#Asstt. Programmer|#Electrician|#Accounts Assistant|#Network Administrator|#Workshop Instructor" >Non- Teaching</option>
  </select><br><br>
  </div></div>


<div class="form-group row" id="dvPassport" style="display: none">

    <label class="col-lg-6 col-form-label"> Technical/Non-technical: <span
            class="text-danger">*</span>
    </label>
    <div class="col-lg-6">
        <select name="nonteach" required>
            <option value="" hidden >-----</option>

            <option value="Technical" data-designation-options="Technical Assistant|#Lab. Assistant|#Electrician|#Network Administrator|#Asstt. Programmer" selected >Technical</option>
            <option value="Non Technical" data-designation-options="Registrar|#Librarian|#OffSup|#Jr. Library Assistant|#Library Attendant|#Senior Clerk|#Junior Clerk|#PurOff|#BS|#Accounts Assistant|#Workshop Instructor">Non Technical</option>
        </select>
    </div>
</div>
                                                 
                                                <div class="form-group row">
    
                                                    <label class="col-lg-6 col-form-label">  Designation: <span
                                                      class="text-danger">*</span> </label>
                                                    <div class="col-lg-6">
                                                    <select name="designation" id="id_designation" class='dependent-selects__designation'  required>
                                                      <option value="">-----</option>
                                                      <option value="Principal">Principal</option>
                                                      <option value="professor">Professor</option>
                                                      <option value="Associate Professor">Associate Professor</option>
                                                      <option value="Assistant Professor">Assistant Professor</option>
                                                      <option value="Workshop Superintendent">Workshop Superintendent</option>
                                                      <option value="Lecturer (Sr. Scale)"> Lecturer (Sr. Scale)</option>
                                                      <option value="Lecturer">Lecturer</option>
                                                      <option value="Director of Physical Education & Sports">Director of Physical Education & Sports</option>
                                                      <!-- teaching over -->
                                                      <option value="Registrar">Registrar</option>
                                                      <option value="Librarian">Librarian</option>
                                                      <option value="OffSup">Office Superintendent</option>
                                                      <option value="Technical Assistant">Technical Assistant</option>
                                                      <option value="Lab. Assistant">Lab. Assistant</option>
                                                      <option value="Jr. Library Assistant">Jr. Library Assistant</option>
                                                      <option value="Library Attendant">Library Attendant</option>
                                                      <option value="Senior Clerk">Senior Clerk</option>
                                                      <option value="Junior Clerk">Junior Clerk</option>
                                                      <option value="PurOff">Purchase Officer</option>
                                                      
                                                      <option value="BS">Black Smithy</option>
                                                      <option value="Asstt. Programmer">Asst. Programmer</option>
                                                      <option value="Director of Physical Education & Sports">Director of Physical Education & Sports</option>
                                                      <option value="Electrician">Electrician</option>
                                                      <option value="Accounts Assistant">Accounts Assistant</option>
                                                      <option value="Network Administrator">Network Administrator</option>
                                                      <option value="Workshop Instructor">Workshop Instructor</option>
                                                    </select>
                                                  
                                                    <br>
                                                    <br></div></div>
                                                <br>




                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">UAN</label>
                                                    <div class="col-lg-6">
                                                        <input type="number" name="uan" class="form-control" ruqt
                                                            value="<%= Employees[i].uan %>" placeholder="UAN"
                                                            pattern=".{12,12}" title="12 characters needed">
                                                    </div>
                                                </div><br>






                                                <script type="text/javascript">
                                                    function ShowHideDivi() {
                                                        var ddlPassport1 = document.getElementById("id_category1");
                                                        var dvPassport1 = document.getElementById("dvPassport1");
                                                        dvPassport1.style.display = ddlPassport1.value == "FE" ? "block" : "none";
                                                    }
                                                </script>

                                                <div class="form-group row">

                                                    <label class="col-lg-6 col-form-label"> Departments <span
                                                            class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select name="dept" id="id_category1" onchange="ShowHideDivi()"
                                                            data-designation-id='id_designation'
                                                            onkeyup="manage()"  class="required" required>

                                                            <option value="Computer">C.E</option>
                                                            <option value="IT">IT</option>
                                                            <option value="E&TC">E&TC</option>
                                                            <option value="FE">FE</option>
                                                            <option value="Administration">Administration</option>
                                                            <option value="Accounts">Accounts</option>
                                                            <option value="Library">Library</option>
                                                            <option value="Sports">Sports</option>
                                                        </select><br><br>
                                                    </div>


                                                    <div id="dvPassport1" style="display: none">
                                                        Type 1 <span class="text-danger">*</span>
                                                        <select name="Subject">
                                                            <option value="" hidden selected>-----</option>
                                                            <option value="Mechanical">Mechanical</option>
                                                            <option value="Civil">Civil</option>
                                                            <option value="Physics">Physics</option>
                                                            <option value="Chemistry">Chemistry</option>
                                                            <option value="Mathematics">Mathematics</option>
                                                            <option value="Graphics">Graphics</option>
                                                            <option value="Electrical">Electrical</option>

                                                        </select>




                                                    </div>
                                                </div>


                                                <!-- salary cat -->
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Salary Category <span
                                                            class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select onkeyup="manage()"  class="required" name="salaryCategory" required>
                                                            <!-- <option value="value" selected>Option Name</option> -->
                                                            <option value="consolidated" id="consolidated" selected>
                                                                Consolidated</option>
                                                            <option value="payscale" id="payscale" selected>Pay
                                                                Scale</option>

                                                        </select>
                                                    </div>

                                                </div>

                                            


                                                <div class="form-group row">

                                                    <label class="col-lg-6 col-form-label" for="category">Category <span
                                                            class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select name="category" id="category" onkeyup="manage()"  class="required">
                                                            <option value="open">OPEN</option>
                                                            <option value="sc">SC</option>
                                                            <option value="st">ST</option>
                                                            <option value="dta">DT-a</option>
                                                            <option value="ntb">NT-b</option>
                                                            <option value="ntc">NT-c</option>
                                                            <option value="ntd">NT-d</option>
                                                            <option value="obc">OBC</option>
                                                            <option value="sbc">SBC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">

                                                    <label class="col-lg-6 col-form-label" for="gender">Gender <span
                                                            class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select name="gender" id="gender" onkeyup="manage()"  class="required">
                                                            <option value="male">Male</option>
                                                            <option value="female">Female</option>
                                                            <option value="other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">

                                                    <label class="col-lg-6 col-form-label" for="status">Maritial
                                                        Status <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select name="status" id="status" onkeyup="manage()"  class="required">
                                                            <option value="married">Married</option>
                                                            <option value="single">Single</option>
                                                            <option value="other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Aadhar Number  <span
                                                        class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="text" name="aadhar"
                                                            value="<%= Employees[i].aadhar %>" onkeyup="manage()"  class="required"
                                                            pattern=".{12,12}" title="12 numbers needed" ruqt>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">PAN No.  <span
                                                        class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="text" value="<%= Employees[i].Pan_No %>"
                                                            name="Pan_No" class="form-control" pattern=".{10,10}"
                                                            title="10 alphanumeric characters needed" ruqt>
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    function ShowHideDivii() {
                                                        var ddlPassport1 = document.getElementById("id_category2");
                                                        var dvPassport1 = document.getElementById("dvPassport2");
                                                        dvPassport1.style.display = ddlPassport1.value == "no" ? "block" : "none";
                                                    }
                                                </script>
                                                <div class="form-group row">

                                                    <label class="col-lg-6 col-form-label">Employee on Roll <span
                                                            class="text-danger">*</span>

                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select name="onrole" id="id_category2"
                                                            onchange="ShowHideDivii()"
                                                            data-designation-id='id_designation'
                                                            onkeyup="manage()"  class="required" >
                                                            <option value="yes">Yes</option>
                                                            <option value="no">No</option>



                                                        </select><br><br>
                                                    </div>



                                                    <div id="dvPassport2" style="display: none">
                                                        Relieving Date:
                                                        <input type="date" class="form-control" id="Relieving"
                                                            name="Relieving" ruqt>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Date of Promotion</label>
                                                    <div class="col-lg-6">
                                                        <input type="date" class="form-control"
                                                            value="<%= Employees[i].dop %>" id="dop" name="dop" ruqt>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label">Date Confirmation of
                                                        Service</label>
                                                    <div class="col-lg-6">
                                                        <input type="date" class="form-control"
                                                            value="<%= Employees[i].doc %>" id="doc" name="doc" ruqt>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-6 col-form-label" for="appointment">Nature of
                                                        Appointment <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">

                                                        <select name="appointment" id="appointment" onkeyup="manage()"  class="required">
                                                            <option value="Permanent">Permanent</option>
                                                            <option value="Probation">Probation</option>
                                                            <option value="Adhoc">Adhoc</option>

                                                        </select>
                                                    </div>
                                                </div>

                                        </div>

                                        <div class="col-lg-2"></div>

                                        <div class="col-lg-5">

                                            <!-- Nature of Appointment -->


                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Mobile No.  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="number" value="<%= Employees[i].mobile %>"
                                                        name="mobile" onkeyup="manage()"  class="required" pattern=".{10,10}"
                                                        title="10 characters needed">
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Address for Correspondence
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text"
                                                        value="<%= Employees[i].address_correspondence %>"
                                                        name="address_correspondence" class="form-control" ruqt>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Permanent Address</label>
                                                <div class="col-lg-6">
                                                    <input type="text" value="<%= Employees[i].address_permanent %>"
                                                        name="address_permanent" class="form-control" ruqt>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Biometric Attendance ID</label>
                                                <div class="col-lg-6">
                                                    <input type="text" value="<%= Employees[i].biometric %>" name="biometric" class="form-control" ruqt>
                                                </div>
                                            </div> -->
                                            <div class="form-group row">

                                                <label class="col-lg-6 col-form-label" for="vacation">Vacation <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-lg-6">

                                                    <select name="vacation" id="vacation" ruqt>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <!-- UG PG sorted -->


                                            <!-- experiance and oth qual -->

                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Other Qualification</label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="othqual"
                                                        value="<%= Employees[i].othqual %>" class="form-control"
                                                        placeholder="Other Qualification" ruqt>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Teaching Experiance (Other than
                                                    PICT)  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="exp" value="<%= Employees[i].exp %>"
                                                        onkeyup="manage()"  class="required">
                                                </div>
                                            </div>



                                            <script>

                                                function experiance() {
                                                    var date1 = document.getElementById("doj");
                                                    var date2 = new Date();

                                                    var Difference_In_Time = date2.getTime() - date1.getTime();

                                                    var Difference_In_Days = Math.round(Difference_In_Time / (1000 * 3600 * 24));
                                                    return Difference_In_Days;
                                                }

                                                document.getElementById("demo").innerHTML = experiance();
                                            </script>

                                            <!-- Shall be auto calculated from DoJ till date -->



                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Industry Experience  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="industry_exp"
                                                        value="<%= Employees[i].industry_exp %>" onkeyup="manage()"  class="required"
                                                        >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">University Approval No.  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="uni_approval"
                                                        value="<%= Employees[i].uni_approval %>" onkeyup="manage()"  class="required"
                                                        >
                                                </div>
                                            </div>
                                            <!-- <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">University Approval Date  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="date" name="uni_app_date"
                                                        value="<%= Employees[i].uni_app_date %>" onkeyup="manage()"  class="required"
                                                        >
                                                </div>
                                            </div> -->
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">University Approval
                                                    Period  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="uni_app_period"
                                                        value="<%= Employees[i].uni_app_period %>" onkeyup="manage()"  class="required"
                                                        ruqt>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label">Work Experience (for NT Staff -
                                                    Other than PICT)  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="workexNT"
                                                        value="<%= Employees[i].workexNT %>" onkeyup="manage()"  class="required" ruqt>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Overall Seniority No.  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="seniority"
                                                        value="<%= Employees[i].seniority %>" onkeyup="manage()"  class="required" ruqt>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Dept Seniority No.  <span
                                                    class="text-danger">*</span></label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="dept_seniority"
                                                        value="<%= Employees[i].dept_seniority %>" onkeyup="manage()"  class="required"
                                                        ruqt>
                                                </div>
                                            </div>



                                            <div class="form-group row">

                                                <label class="col-lg-6 col-form-label" for="emp_temp_regime">Employee
                                                    Tax Regime <span class="text-danger">*</span></label>
                                                <div class="col-lg-6">

                                                    <select name="emp_temp_regime" id="emp_temp_regime" onkeyup="manage()"  class="required" ruqt>
                                                        <option value="old_tax_reg">Old tax regime</option>
                                                        <option value="new_tax_reg">New tax regime</option>

                                                    </select>
                                                </div>
                                            </div>
                                           

                                           
                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Drive link for photo </label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="photo" value="<%= Employees[i].image %>"
                                                        class="form-control" ruqt>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-6 col-form-label"> Blood group </label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="blood" value="<%= Employees[i].image %>"
                                                        class="form-control" ruqt>
                                                </div>
                                            </div>


                                        </div>
                                        <!-- if no selected add Relieving Date -->
                                        <!-- /# column -->
                                        <!-- <div class="column"> -->
                                        <div class="col-lg-6">
                                            <!-- /# column -->
                                            <!-- <div class="column"> -->
                                            <div class="col-lg-6">



                                            </div>
                                            <!--card ka end -->

                                            <br />

                                        </div>
                                    </div>

                            </div>

                        </div>

                       
                        <br><br>

                        <!-- </div> -->

                        <!-- ---------------salary-------------------- -->
                        <div class="card">
                            <div class="card-title">
                                <h4>Employee Salary Details</h4>

                            </div>


                            <div class="card-body">
                                <div class="row">
                                    <!-- <div class="form-group row"> -->

                                    <div class="col-lg-6">

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Basic Pay  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="pay" value="<%= Employees[i].pay %>"
                                                onkeyup="manage()"  class="required" placeholder="Basic Pay">


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label"> TA  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="ta" value="<%= Employees[i].ta %>"
                                                onkeyup="manage()"  class="required">
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label"> CCA  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="cca" value="<%= Employees[i].cca %>"
                                                onkeyup="manage()"  class="required">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Grade Pay  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="gp" value="<%= Employees[i].gp %>"
                                                onkeyup="manage()"  class="required" placeholder="Grade Pay">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Provident Fund  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="pf" value="<%= Employees[i].pf %>"
                                                onkeyup="manage()"  class="required" placeholder="Provident Fund" ruqt>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Group Insurance  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="groupInsurance"
                                                    value="<%= Employees[i].groupInsurance %>" onkeyup="manage()"  class="required"
                                                    placeholder="Group Insurance" ruqt>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">


                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Pay Band  <span
                                                class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" name="payBand" value="<%= Employees[i].payBand %>"
                                                onkeyup="manage()"  class="required" ruqt>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Pay Commission  <span
                                                class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select onkeyup="manage()"  class="required" name="paycommission" ruqt>
                                                    <option>---------</option>
                                                    <option value=5 id="5th">5th Type</option>
                                                    <option value=6 id="6th">6th Type</option>
                                                    <option value=7 id="7th">7th Type</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>




                        <!-- -------------------salary deets end----------------- -->
                        <div class="card">
                            <div class="card-title">
                                <h4>Employee Bank Details</h4>

                            </div>


                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group row">

                                            <label class="col-lg-6 col-form-label">Bank Name  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="bankName" value="<%= Employees[i].bankName %>"
                                                onkeyup="manage()"  class="required" placeholder="Bank Name" ruqt>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">Branch Name  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="branchName"
                                                    value="<%= Employees[i].branchName %>" onkeyup="manage()"  class="required"
                                                    placeholder="Branch Name" ruqt>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-6 col-form-label">IFSC Code  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="ifscCode" id="ifsc"
                                                    value="<%= Employees[i].ifscCode %>" onkeyup="manage()"  class="required"
                                                    placeholder="IFSC Code" pattern=".{11,11}"
                                                    title="11 characters needed" ruqt />

                                            </div>
                                        </div>


                                        <div class="form-group row">

                                            <label class="col-lg-6 col-form-label">Enter Bank Account
                                                No.  <span
                                                class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="bankAccNum"
                                                    value="<%= Employees[i].bankAccNum %>" onkeyup="manage()"  class="required"
                                                    placeholder="Acc No." ruqt>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                </select>
            </div>



            <!-- -----------------------Phd------------------- -->

            <label for="chkPHD">
                <hr>
                <h5>Tick Employee is not Persuing PhD <input type="checkbox" id="chkPHD" /></h5>
            </label>
            <hr />

            <script>
                $(function () {
                    $("#chkPHD").click(function () {
                        if ($(this).is(":checked")) {
                            $("#phd").hide();
                        } else {
                            $("#phd").show();
                        }
                    });
                });
            </script>

            <div id="phd">
                <div class="card">
                    <div class="card-title">
                        <h4>Employee PhD. Details</h4>

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">PhD.</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="phd" value="<%= Employees[i].phd %>"
                                                class="form-control" ruqt>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">PhD Subject</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="phdSub" value="<%= Employees[i].phdSub %>"
                                                class="form-control" placeholder="PhD Subject" ruqt>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">PhD Institute</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="phdInsti" value="<%= Employees[i].phdInsti %>"
                                                class="form-control" placeholder="PhD Institute" ruqt>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label">PhD University</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="phdUni" value="<%= Employees[i].phdUni %>"
                                                class="form-control" placeholder="PhD University" ruqt>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-6 control-label">PhD Passing year</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="phdYr" value="<%= Employees[i].phdYr %>"
                                                class="form-control" placeholder="PhD Passing year" value=0 ruqt>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- -----------------------phd ends------------ -->
            <!-- --------------------------------------------for PG--------- -->

            <div class="card">
                <div class="card-title">
                    <h4>Employee P.G. Details</h4>

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">



                                <div class="form-group">
                                    <label class="col-lg-6 col-form-label">P.G. Subject</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="pgSub" value="<%= Employees[i].pgSub %>"
                                            class="form-control" placeholder="P.G. Subject">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label">P.G. University</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="pgUni" value="<%= Employees[i].pgUni %>"
                                            class="form-control" placeholder="P.G. University">
                                    </div>
                                </div>


                                <div class="form-group row">

                                    <label class="col-lg-6 col-form-label">P.G. Passing year</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="pgYr" value="<%= Employees[i].pgYr %>"
                                            class="form-control" placeholder="P.G. Passing year">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- ------pg end----- -->




            <!-- ----------UG deets------- -->




            <!-- -----ug ends----- -->
            <div class="card">
                <div class="card-title">
                    <h4>Employee U.G. Details</h4>

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">

                                    <label class="col-lg-6 col-form-label">U.G. Subject <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" name="ugSub" value="<%= Employees[i].ugSub %>"
                                        onkeyup="manage()"  class="required" placeholder="U.G. Subject" ruqt>
                                    </div>
                                </div>

                                <br>


                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label">U.G. University <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" name="ugUni" value="<%= Employees[i].ugUni %>"
                                        onkeyup="manage()"  class="required" placeholder="U.G. University" ruqt>
                                    </div>
                                </div>
                            </div>


                            <!--<div class="form-group row">
    <label class="col-lg-6 col-form-label">U.G. Institute</label>
    <div class="col-lg-6">
        <input type="text" name="ugInsti" class="form-control"
            placeholder="U.G. Institute"    ruqt>
    </div>
    </div>  -->


                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label">U.G. Passing year <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" name="ugYr" value="<%= Employees[i].ugYr %>"
                                        onkeyup="manage()"  class="required" placeholder="U.G. Passing year" ruqt>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label">U.G. Grade/Class <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" name="grade" value="<%= Employees[i].grade %>"
                                        onkeyup="manage()"  class="required" placeholder="U.G. Grade/Class" ruqt>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center" style='float: center;'>






                        </div>

                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>
        </div>

        
        <pre>                                                                      </pre><input type="submit" id="submit" style="float:right" disabled />
        <br><br><br>
        </form>


        </section>

        
        </div>
        </div>

        <script>
            function manage() {
                var bt = document.getElementById('submit');
                var ele = document.getElementsByClassName('required'); 
                console.log(ele.length);
                // Loop through each element.
                for (i = 0; i < ele.length; i++) {
        
                    // Check the element type.
                    if (ele[i].value == '') {
                        bt.disabled = true;    // Disable the button.
                        return false;
                    }
                    else {
                        bt.disabled = false;   // Enable the button.
                    }
                }
            }
        </script>
        <script src="../assets/focus2/vendor/global/global.min.js"></script>
        <script src="../assets/focus2/js/quixnav-init.js"></script>
        <script src="../assets/focus2/js/custom.min.js"></script>




        <!-- Jquery Validation -->
        <script src="../assets/focus2/vendor/jquery-validation/jquery.validate.min.js"></script>
        <!-- Form validate init -->
        <script src="../assets/focus2/js/plugins-init/jquery.validate-init.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script>
        <script src="../assets/alert/script.js"></script>

    </body>
    <%- include("partials/footer"); -%>