<%- include('partials/header.ejs'); -%>

    <head>

        <meta charset="UTF-8">
        <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'> -->
        <link rel="stylesheet" href="../assets/alert/style.css">
        <!-- <link href="../assets/alert/style.css" rel="stylesheet">
  
    <script src="../assets/alert/script.js"></script> -->

    </head>

    <body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <form class="form-horizontal" action="\deductions" method="post">
                        <div class="row">
                            <div class="col-lg-8 p-r-0 title-margin-right">
                                <div class="page-header">
                                    <div class="page-title">
                                        <h1>Hello, Welcome Here</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>HRA</h4>

                                    </div>


                                    <div class="card-body">
                                        <div class="horizontal-form-elements">

                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-10 control-label">Present HRA
                                                            </label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="present hra" class="form-control" value="present hra">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-10 control-label">Month
                                                            </label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="month" class="form-control" value="month">
                                                        </div>
                                                    </div>

                                                    
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">New HRA</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="newhra" class="form-control"
                                                            value="new hra">

                                                        </div>
                                                    </div>


                                                </div>

                                                

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>DDA</h4>

                                    </div>


                                    <div class="card-body">
                                        <div class="horizontal-form-elements">

                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-10 control-label">Present DDA
                                                            </label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="present dda" class="form-control" value="present dda">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-10 control-label">Month
                                                            </label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="month" class="form-control" value="month">
                                                        </div>
                                                    </div>

                                                    
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">New DDA</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="newhra" class="form-control"
                                                            value="new hra">

                                                        </div>
                                                    </div>


                                                </div>

                                                

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>

                </div>
            </div>



        </div>

        <div class="content-wrap">
            <div class="main">
              <div class="container-fluid">
                  <div class="row">
                      
                      <div class="col-lg-4 p-l-0 title-margin-left">
                          <div class="page-header">
                              <div class="page-title">
                                  
                              </div>
                          </div>
                      </div>
                      <!-- /# column -->
                  </div>
                  <!-- /# row -->
  
                  <section id="main-content">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card">
                                  <div class="bootstrap-data-table-panel">
                                      <div class="table-responsive">
                                          <form class="form-horizontal" action="\updatepay" method="post">
                                         
                                          <input type="button" style="float: right;" onclick='deSelect()' value="Deselect All"/>  
  
                                          <input type="button"style="float: right;" onclick='selects()' value="Select All"/>  
                                          
                                          <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                              <thead>
                                                  <tr>
                                                      <th>Employee ID<p><i class="arrow down" style="float: right;"></i></th>
                                                      <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                                                      <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                                                      <th>Position <p><i class="arrow down" style="float: right;"></i></th>
                                                      <th>Difference<p><i class="arrow down" style="float: right;"></i></th>
                                                      
  
                                                  
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <% for(var i = Employees.length-1; i >= 0 ; i-- ) { %>
                                                      <tr>
                                                          <td><%= Employees[i].empID %></td>
                                                          <td><%= Employees[i].empName %></td>
                                                          <td><%= Employees[i].dept %></td>
                                                          <td><%= Employees[i].designation %></td>
                                                          <td> <input class="checkedButtons" type="checkbox" name=<%= Employees[i].empID %> id="check" value="1"><br> </td>
                                                      </tr>
                                                  <% }%>
                                              </tbody>
  
  
                                          </table>
  
  
                                            
                                      </div>
  
                                  </div>
                              </div>
         
                          </div>
  
                      </div>
  
                          
  
                      <input type="submit" style="float: right;" value="Submit"> 
  
                      </form>
  
                      </div>
                      <br>
                      <br><br><br>
  
                  </section>
              </div>
          </div>
        <!-- </div>
        </div>
        </div> -->

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script>
        <script src="../assets/alert/script.js"></script>
    </body>

    </html>