<%- include('partials/header.ejs'); -%>

    <head>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <style>
            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;

            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        </style>

    </head>

    <body>


        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <!-- <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div> -->
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title">
                                    <ol class="breadcrumb">
                                        <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
                                        <!-- <li class="breadcrumb-item active">Table-Export</li> -->
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <section id="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="bootstrap-data-table-panel">
                                        <div class="table-responsive">
                                            <form class="form-horizontal" action="\table-export" method="post">

                                                <!-- <input type="button" style="float: right;" onclick='deSelect()' value="Deselect All"/>  

                                        <input type="button"style="float: right;" onclick='selects()' value="Select All"/>   -->

                                                <table id="bootstrap-data-table-export"
                                                    class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Employee ID <p><i class="arrow down"
                                                                        style="float: right;"></i></th>
                                                            <th>Name <p><i class="arrow down" style="float: right;"></i>
                                                            </th>
                                                            <th>Salary Category</th>
                                                            <th>UAN</th>
                                                            <th>Bank Name</th>
                                                            <th>Bank Account No.</th>
                                                            <th>Month</th>
                                                            <th>Year</th>
                                                            <th>Total Days in Month</th>

                                                            <th>Provident Fund</th>
                                                            <th>Prof Tax</th>
                                                            <th>Income Tax</th>
                                                            <th>Group Insurance</th>
                                                            <th>LWP Due To Late Attendance</th>
                                                            <th>Donations</th>
                                                            <th>Advance</th>
                                                            <th>Recovery</th>
                                                            <th>Miscellaneous</th>
                                                            <th>Other Deductions</th>
                                                            <th>Rev Stmp</th>
                                                            

                                                            <th>Total Ded</th>
                                                            <th>Net Salary</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% for(var i=salary.length-1; i>= 0 ; i-- ) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= salary[i].empID %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].empName %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].salaryCategory %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].uan %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].bankName %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].bankAccNum %>
                                                                </td>

                                                                <td>
                                                                    <%= salary[i].prof_tax %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].in_tax %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].oth_ded %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].rev_stmp %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].sal_adv %>
                                                                </td>

                                                                <td>
                                                                    <%= salary[i].total_ded %>
                                                                </td>
                                                                <td>
                                                                    <%= salary[i].net_sal %>
                                                                </td>


                                                            </tr>
                                                            <% }%>

                                                    </tbody>


                                                </table>



                                        </div>

                                    </div>
                                </div>
                                <!-- /# card -->
                            </div>

                        </div>



                        </form>

                        <!-- <input type="submit" style="float: right;" value="Submit"> -->

                </div>


                <!-- /# row -->


                </section>
            </div>
        </div>
        </div>


        <!-- bootstrap -->

        <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
        <script src="../assets/assets/js/scripts.js"></script>
        <!-- scripit init-->
        <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
        <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>

    </body>

    </html>