<%- include('partials/header.ejs'); -%>
<head>
    <style>
        .arrow {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          
        }
        
        .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    </style>
     <script type="text/javascript">  
        function selects(){  
            var checkedButtons = document
                .querySelectorAll(".checkedButtons");
            console.log(checkedButtons)
            for (var i = 0; i < checkedButtons.length; i++) {
                checkedButtons[i].checked = true;
            }
        }  
        function deSelect(){  
            var checkedButtons = document.querySelectorAll(".checkedButtons");
            //  console.log(checkedButtons)
            for (var i = 0; i < checkedButtons.length; i++) {
                checkedButtons[i].checked = false;
            }
        }     
        // $(document).ready(function() {
        //  // on form submit
        // $("#form").on('submit', function() {
        //     // to each unchecked checkbox
        //     $(this + 'input[type=checkbox]:not(:checked)').each(function () {
        //         // set value 0 and check it
        //         $(this).attr('checked', true).val(0);
        //     });
        // })
        // var checkBoxValue = $('#checkBox').is(':checked')?$('#checkBox').val():false-->
        
        var x = document.querySelector("#checks");
      //  console.log("x= ",x);
        
</script>  
</head>

<body>

    <div class="content-wrap">
          <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <form class="form-horizontal" action="\updatepay" method="post">
                                       
                                        <input type="button" style="float: right;" onclick='deSelect()' value="Deselect All"/>  

                                        <input type="button"style="float: right;" onclick='selects()' value="Select All"/>  
                                        
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Employee ID<p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Position <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Increment<p><i class="arrow down" style="float: right;"></i></th>
                                                    

                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = employees.length-1; i >= 0 ; i-- ) { %>
                                                    <tr>
                                                        <td><%= employees[i].empID %></td>
                                                        <td><%= employees[i].empName %></td>
                                                        <td><%= employees[i].dept %></td>
                                                        <td><%= employees[i].designation %></td>
                                                        <td> <input class="checkedButtons" type="checkbox" name=<%= employees[i].empID %> id="check" value="1"><br> </td>
                                                    </tr>
                                                <% }%>
                                            </tbody>


                                        </table>


                                          
                                    </div>

                                </div>
                            </div>
                            <!-- /# card -->
                        </div>

                    </div>

   
                        <!-- /# column -->
                    <!-- </div>
                    <div class="col-lg-6" class="float-right">
                        <table class="table table-striped table-bordered" >
                                                
                            <tr>
                                <td>Total</td>
                                <td> <input type="text" name="total" value="0"><br></td>
                            
                            </tr>
                    </table>  -->

                    <!-- <form class="form-horizontal" action="\table-export" method="post"> -->
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label class="col-sm-10 control-label">New Basic Pay Amt</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="increment" class="form-control" value=3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <input type="submit" style="float: right;" value="Submit"> 

                    </form>

                    </div>
                    <br>
                    <br><br><br>

                </section>
            </div>
        </div>
    </div>
    
   

    <script src="../assets/assets/js/lib/bootstrap.min.js"></script><script src="../assets/assets/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>


</body>

</html>


