<%- include('partials/header.ejs'); -%>
<head>

<style>
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      
    }
    
    .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>

</head>

<body>


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
                                    <!-- <li class="breadcrumb-item active">Table-Export</li> -->
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <!-- <form class="form-horizontal" action="\table-export" method="post"> -->
                                       
                                        <!-- <input type="button" style="float: right;" onclick='deSelect()' value="Deselect All"/>  

                                        <input type="button"style="float: right;" onclick='selects()' value="Select All"/>   -->
                                        
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Employee ID <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Designation<p><i class="arrow down" style="float: right;"></i></th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = salary.length-1; i >= 0 ; i-- ) { %>
                                                    <tr>
                                                        <td><%= salary[i].empID %></td>
                                                        <td><%= salary[i].empName %></td>
                                                        <td><%= salary[i].dept %></td>
                                                        <td><%= salary[i].designation %></td> 
                                                         <td>
                                            
                                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter1">
                                                                   View
                                                                  </button> 
                                                                          <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                              <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                  <h5 class="modal-title" id="exampleModalLongTitle">Employee Details</h5>
                                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                  </button>
                                                                                </div>
                                                                                <div class="modal-body cardalign">
                                                                                    <p>
                                                                                        <div class="card " style="width: 18rem;">
                                                                                          <div class="card-header">
                                                                                              Employee Details
                                                                                            </div> 
                                                                                            <ul class="list-group list-group-flush">
                                                                                              <li class="list-group-item"><%= salary[i].empName %></li>
                                                                                              <li class="list-group-item"><%= salary[i].emailID %></li>
                                                                                              <li class="list-group-item"><%= salary[i].dept %></li>
                                                                                              <li class="list-group-item">Increments</li>
                                                                                              <li class="list-group-item">Decrements</li>
                                                                                              <li class="list-group-item">Gross Salary</li>
                                
                                                                                            </ul>
        
                                                                                        </div>
                                                                                        
                                                                                    </p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                  
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                              
                                                                 
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                                                                    Edit
                                                                  </button>

                                                                <a href="/uploads/<%=salary[i].empID%>"><button type="submit" class="btn btn-success btn-sm" >Print</button></a>
                                                                
                                                                  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                      <div class="modal-content">
                                                                        <div class="modal-header">
                                                                          <h5 class="modal-title" id="exampleModalLongTitle">Edit Details</h5>
                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                          </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">Employee Name</label>
                                                                                <div class="col-sm-10">
                                                                                    <input type="text" name="empName" class="form-control"
                                                                                        placeholder="Enter Name">
                                                                                </div>
                                                                            </div>
                        
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">Email ID</label>
                                                                                <div class="col-sm-10">
                                                                                <input id="example-email" class="form-control" type="email" placeholder="admin@pict.edu" name="example-email">
                                                                                </div>
                                                                            </div>
        
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">Designation</label>
                                                                                <div class="col-sm-10">
                                                                                    <select class="form-control" name="designation">
                                                                                        <option value="value" selected>Option Name</option> 
                                                                                        <option value="professor" id="professor" selected>Professor</option>
                                                                                        <option value="associateprof" id="associateprof" selected>Associate Professor</option>
                                                                                        <option value="asstprof" id="asstprof" selected>Assistant Professor</option>
                                                                                        <option value="techasst" id="techasst" selected>Technical Assistant</option>
                                                                                        <option value="labasst" id="labasst" selected>Lab Assistant</option>
                                                                                        <option value="nonteaching" id="nonteaching" selected>Non Teaching</option>    
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                        
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">Salary Category</label>
                                                                                <div class="col-sm-10">
                                                                                    <select class="form-control" name="salaryCategory">
                                                                                        <option value="value" selected>Option Name</option> 
                                                                                        <option value="consolidated" id="consolidated" selected>
                                                                                            Consolidated</option>
                                                                                        <option value="payscale" id="payscale" selected>Pay
                                                                                            Scale</option>
                        
                                                                                    </select>
                                                                                </div>
                        
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                          <button type="button" class="btn btn-primary">Save Changes</button>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>

                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter3">
                                                                    Delete
                                                                  </button>
                                                                  
                                                                
                                                                  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                      <div class="modal-content">
                                                                        <div class="modal-header">
                                                                          <h5 class="modal-title" id="exampleModalLongTitle">Deletion</h5>
                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                          </button>
                                                                        </div>
                                                                        <div class="modal-body a">
                                                                            <p style="color:red;"><b>Deleted Successfully</b></p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                          
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                           
                                                        </td>                                                        -->
                                                    </tr>
                                                <% }%>
                                            </tbody>


                                        </table>


                                          
                                    </div>

                                </div>
                            </div>
                            <!-- /# card -->
                        </div>

                    </div>

                    



                    <!-- <input type="submit" style="float: right;" value="Submit"> -->

                    </div>


                    <!-- /# row -->

                    
                </section>
            </div>
        </div>
    </div>

    
    <!-- bootstrap -->

    <script src="../assets/assets/js/lib/bootstrap.min.js"></script><script src="../assets/assets/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>

</body>

</html>
