<%- include('partials/header.ejs'); -%>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

    <style>
      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;

      }

      .modal-lg {
        max-width: 1000% !important;
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 0px;
      }

      .left {
        left: 0;
        background-color: #ADD8E6;
      }

      .right {
        right: 0;
        background-color: #ADD8E6;
      }

      .modalfade {}

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
      }

      .modal-dialog,
      .modal-content {
        /* 80% of window height */
        width: 100%;
        /* margin: 20px auto; */
      }

      @media screen {
        #printSection {
          display: none;
        }
      }

      @media print {
        body * {
          visibility: hidden;
        }

        #printSection,
        #printSection * {
          visibility: visible;
        }

        #printSection {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

   
  
  </head>

  <body>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="content-wrap">
      <div class="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
              <div class="page-header">
                <!-- <div class="page-title">
                  <h1>Hello, <span>Welcome Here</span></h1>
                </div> -->
              </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
              <div class="page-header">
                <div class="page-title">
                  <ol class="breadcrumb">

                  </ol>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
          <!-- /# row -->

          <section id="main-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">

                      <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Employee ID <p><i class="arrow down" style="float: right;"></i></th>
                            <th>Name <p><i class="arrow down" style="float: right;"></i></th>
                            <th>Department <p><i class="arrow down" style="float: right;"></i></th>
                            <th>Designation<p><i class="arrow down" style="float: right;"></i></th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% for(var i=Employees.length-1; i>= 0 ; i-- ) { %>
                            <tr>
                              <td>
                                <%= Employees[i].empID %>
                              </td>
                              <td>
                                <%= Employees[i].empName %>
                              </td>
                              <td>
                                <%= Employees[i].dept %>
                              </td>
                              <td>
                                <%= Employees[i].designation %>
                              </td>
                              <td>

                                <a href="edit/<%= Employees[i].empID %>"><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal">
                                  Edit
                                </button></a>
                                <div class="modal fade" id="a<%= Employees[i].empID %>" tabindex="-1" role="dialog"
                                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label class="col-sm-6 control-label">Employee Name</label>
                                          <div class="col-sm-10">
                                            <input type="text" name="empName" class="form-control"
                                              placeholder="Enter Name">
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label class="col-sm-6 control-label">Email ID</label>
                                          <div class="col-sm-10">
                                            <input id="example-email" class="form-control" type="email"
                                              placeholder="admin@pict.edu" name="example-email">
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label class="col-sm-6 control-label">Designation</label>
                                          <div class="col-sm-10">
                                            <select class="form-control" name="designation">
                                              <option value="value" selected>Option Name</option>
                                              <option value="professor" id="professor" selected>Professor</option>
                                              <option value="associateprof" id="associateprof" selected>Associate
                                                Professor</option>
                                              <option value="asstprof" id="asstprof" selected>Assistant Professor
                                              </option>
                                              <option value="techasst" id="techasst" selected>Technical Assistant
                                              </option>
                                              <option value="labasst" id="labasst" selected>Lab Assistant</option>
                                              <option value="nonteaching" id="nonteaching" selected>Non Teaching
                                              </option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label class="col-sm-6 control-label">Salary Category</label>
                                          <div class="col-sm-10">
                                            <select class="form-control" name="SalaryCategory">
                                              <option value="value" selected>Option Name</option>
                                              <option value="consolidated" id="consolidated" selected>
                                                Consolidated</option>
                                              <option value="payscale" id="payscale" selected>Pay
                                                Scale</option>

                                            </select>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                          data-dismiss="modal">Close</button>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                                

                                <!-- <h1>Bootstrap Modal Example</h1> -->
                                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                                  data-target="#<%= Employees[i].empID %>">
                                  Basic Details
                                </button>


                                <div id="print<%= Employees[i].empID %>">

                                  <!-- Modal -->
                                  <div class="modal fade" id="<%= Employees[i].empID %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 200%"
                                      role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">
                                            <%= Employees[i].empName %>
                                          </h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>

                                        <div class="modal-body">


                                          <div class="media align-items-center py-3 mb-3">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                              class="d-block ui-w-100 rounded-circle">
                                            <div class="media-body ml-4">
                                              <h4 class="font-weight-bold mb-0">
                                                <%= Employees[i].empName %>
                                              </h4>
                                              <div class="text-muted mb-2">ID: <%= Employees[i].empID %>
                                              </div>

                                            </div>
                                          </div>

                                          <div class="card mb-6">
                                            <div class="card-body">
                                              <div class="row">
                                                <div class="col-lg-6">
                                                  <table class="table user-view-table" col>
                                                    <tbody>
                                                      <tr>
                                                        <td>E-mail:</td>
                                                        <td>
                                                          <%= Employees[i].emailID%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>UAN</td>
                                                        <td>
                                                          <%= Employees[i].uan%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Department</td>
                                                        <td>
                                                          <%= Employees[i].dept%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Designation</td>
                                                        <td>
                                                          <%= Employees[i].designation %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Salary Category</td>
                                                        <td>
                                                          <%= Employees[i].salaryCategory %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <div class="col-sm-6">
                                                          <td>Date of Joining</td>
                                                        </div>
                                                        <td>
                                                          <%= Employees[i].doj %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Basic Pay</td>
                                                        <td>
                                                          <%= Employees[i].pay %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>Grade Pay</td>
                                                        <td>
                                                          <%= Employees[i].gp %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Provident Fund</td>
                                                        <td>
                                                          <%= Employees[i].pf %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Group Insurance</td>
                                                        <td>
                                                          <%= Employees[i].groupInsurance %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>Pay Band</td>
                                                        <td>
                                                          <%= Employees[i].payBand %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>Pay Commission</td>
                                                        <td>
                                                          From DB
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Date of Birth</td>
                                                        <td>
                                                          <%= Employees[i].dob %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>Age</td>
                                                        <td>
                                                          <%= Employees[i].age %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Category</td>
                                                        <td>
                                                          <%= Employees[i].category %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Gender</td>
                                                        <td>
                                                          <%= Employees[i].gender %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>Age</td>
                                                        <td>
                                                          <%=  Employees[i].age %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Marital Status</td>
                                                        <td>
                                                          <%= Employees[i].status %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Date of Promotion</td>
                                                        <td><%= Employees[i].dop %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Date Confirmation of Service</td>
                                                        <td><%= Employees[i].doc %></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>


                                                <div class="col-lg-6">
                                                  <table class="table user-view-table">
                                                    <tbody>

                                                      <tr>
                                                        <td>Nature of Appointment</td>
                                                        <td><%= Employees[i].appointment %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Mobile No.</td>
                                                        <td><%= Employees[i].mobile %></td>
                                                      </tr>

                                                      <tr>
                                                        <td>Address for Correspondence</td>
                                                        <td><%= Employees[i].address_correspondence %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Permanent Address</td>
                                                        <td><%= Employees[i].address_permanent %></td>
                                                      </tr>
                                                      
                                                    
                                                      <tr>
                                                        <td>Vacation</td>
                                                        <td><%= Employees[i].vacation %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>NET/SET</td>
                                                        <td><%= Employees[i].netset %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Other Qualification</td>
                                                        <td><%= Employees[i].othqual %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Teaching Experiance (Other than PICT)</td>
                                                        <td><%= Employees[i].exp %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Industry Experience</td>
                                                        <td><%= Employees[i].industry_exp %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Work Experience (for NT - Non PICT)</td>
                                                        <td><%= Employees[i].workexNT %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Overall Seniority No.</td>
                                                        <td><%= Employees[i].seniority %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Dept Seniority No.</td>
                                                        <td><%= Employees[i].dept_seniority %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Aadhar Number</td>
                                                        <td><%= Employees[i].aadhar %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>PAN No.</td>
                                                        <td><%= Employees[i].Pan_No %></td>
                                                      </tr>
                                                      <tr>
                                                        <td>Employee on Roll</td>
                                                        <td><%= Employees[i].onrole %></td>
                                                      </tr>

                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>

                                            </div>

                                          </div>

                                         

                                          </div>

                                          <div class="modal-footer">
                                            <button class="btn btn-danger" data-dismiss="modal"
                                              aria-hidden="true">Close</button>
                                            <button id="btn<%= Employees[i].empID %>" type="button"
                                              class="btn btn-default">Print</button>
                                          </div>

                                        </div>

                                      </div>
                                    </div>

                                  </div>

                                </div>
                                <script>
                                  var dob = new Date("<%= Employees[i].dob %>");
                                  //calculate month difference from current date in time
                                  var month_diff = Date.now() - dob.getTime();
                                  
                                  //convert the calculated difference in date format
                                  var age_dt = new Date(month_diff); 
                                  
                                  //extract year from date    
                                  var year = age_dt.getUTCFullYear();
                                  
                                  //now calculate the age of the user
                                  var age = Math.abs(year - 1970);
                                  
                                  //display the calculated age
                                  //document.write("Age of the date entered: " + age + " years");
                              </script>

                                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#b<%= Employees[i].empID %>">
                                Delete
                              </button>

                              <div class="modal fade" id="b<%= Employees[i].empID %>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      ...
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button" class="btn btn-danger" id="<%= Employees[i].empID %>"
                                        onclick="deleteFunction(this.id,this)" data-dismiss="modal">
                                        Delete</button>

                                    </div>
                                  </div>
                                </div>
                              </div>
                                

                                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                                  data-target="#abc<%= Employees[i].empID %>">
                                  Educational Details
                                </button>

                                <div id="print1<%= Employees[i].empID %>">

                                  <div class="modal fade" id="abc<%= Employees[i].empID %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 200%"
                                      role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">
                                            <%= Employees[i].empName %>
                                          </h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>

                                        <div class="modal-body">


                                          <div class="media align-items-center py-3 mb-3">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                              class="d-block ui-w-100 rounded-circle">
                                            <div class="media-body ml-4">
                                              <h4 class="font-weight-bold mb-0">
                                                <%= Employees[i].empName %>
                                              </h4>
                                              <div class="text-muted mb-2">ID: <%= Employees[i].empID %>
                                              </div>

                                            </div>
                                          </div>

                                          <div class="card mb-6">
                                            <div class="card-body">
                                              <div class="row">
                                                <div class="col-lg-6">
                                                  <table class="table user-view-table">
                                                    <tbody>
                                                      <tr>
                                                        <td>PhD:</td>
                                                        <td>
                                                          <%= Employees[i].phd%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>PhD Subject:</td>
                                                        <td>
                                                          <%= Employees[i].phdSub%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>PhD Institute</td>
                                                        <td>
                                                          <%= Employees[i].phdInsti%>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>PhD University</td>
                                                        <td>
                                                          <%= Employees[i].phdUni %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>PhD Passing Year</td>
                                                        <td>
                                                          <%= Employees[i].phdYr %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <div class="col-sm-6">
                                                          <td>P.G Subject</td>
                                                        </div>
                                                        <td>
                                                          <%= Employees[i].pjSub %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>P.G University</td>
                                                        <td>
                                                          <%= Employees[i].pgUni %>
                                                        </td>
                                                      </tr>

                                                      <tr>
                                                        <td>P.G Passing Year</td>
                                                        <td>
                                                          <%= Employees[i].pgYr %>
                                                        </td>


                                                    </tbody>
                                                  </table>
                                                </div>


                                                <div class="col-lg-6">
                                                  <table class="table user-view-table">
                                                    <tbody>


                                                      <tr>
                                                        <td>U.G Subject</td>
                                                        <td>
                                                          <%= Employees[i].ugSub %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>U.G University</td>
                                                        <td>
                                                          <%= Employees[i].ugUni %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <!-- <td>U.G Institute</td>
                                                        <td>
                                                          <%= Employees[i].ugInsti %>
                                                        </td> -->
                                                      </tr>
                                                      <tr>
                                                        <td>U.G Passing Year</td>
                                                        <td>
                                                          <%= Employees[i].ugYr %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>U.G Grade/Class</td>
                                                        <td>
                                                          <%= Employees[i].grade %>
                                                        </td>
                                                      </tr>

                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>

                                            </div>

                                          </div>

                                          <div class="modal-footer">
                                            <button class="btn btn-danger" data-dismiss="modal"
                                              aria-hidden="true">Close</button>
                                            <button id="btn1<%= Employees[i].empID %>" type="button" class="btn btn-default">Print</button>
                                          </div>

                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>

                              </td>
                            </tr>

                            <script>
                              document.getElementById("btn<%= Employees[i].empID %>").onclick = function () {
                                printElement(document.getElementById("print<%= Employees[i].empID %>"));
                              }

                              function printElement(elem) {
                                var domClone = elem.cloneNode(true);

                                var $printSection = document.getElementById("printSection");

                                if (!$printSection) {
                                  var $printSection = document.createElement("div");
                                  $printSection.id = "printSection";
                                  document.body.appendChild($printSection);
                                }

                                $printSection.innerHTML = "";
                                $printSection.appendChild(domClone);
                                window.print();
                              }
                            </script>

                            <script>
                              document.getElementById("btn1<%= Employees[i].empID %>").onclick = function () {
                                printElement(document.getElementById("print1<%= Employees[i].empID %>"));
                              }

                              function printElement(elem) {
                                var domClone = elem.cloneNode(true);

                                var $printSection = document.getElementById("printSection");

                                if (!$printSection) {
                                  var $printSection = document.createElement("div");
                                  $printSection.id = "printSection";
                                  document.body.appendChild($printSection);
                                }

                                $printSection.innerHTML = "";
                                $printSection.appendChild(domClone);
                                window.print();
                              }
                            </script>

                            <% }%>
                        </tbody>


                      </table>
                    </div>
                  </div>
                </div>
                <!-- /# card -->
              </div>
            </div>
            <!-- <input type="submit" style="float: right;" value="Submit"> -->
        </div>
        <!-- /# row -->
        </section>
      </div>
    </div>
    </div>
    <!-- bootstrap -->

    <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/assets/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="../assets/assets/js/lib/data-table/datatables-init.js"></script>
    <script>
      function deleteFunction(id, ref) {
        console.log(id)
        axios.post('http://localhost:3000/deleteEmployee', { id })
          .then(function (response) {
            console.log(response)
            if (response.data.status === "success") {
              // console.log(ref)
              ref.parentNode.parentNode.remove()
              alert("Deleted successfully!")
              // confirm("Deleted!");
              window.location.reload();
              // res.redirect('viewemployee');
            }
          })
          .catch(function (error) {
            console.log(error)
          });
      }
    </script>




    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>


    <!-- <script>
  function deleteFunction() {
    confirm("Deleted!");
  }
  </script> -->

    <style type="text/css">
      body {
        margin-top: 0px;
        background: #f5f5f5;
      }

      .ui-w-100 {
        width: 100px !important;
        height: auto;
      }

      .card {
        background-clip: padding-box;
        box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
      }

      .user-view-table td:first-child {
        width: 30rem;
      }

      .user-view-table td {
        padding-right: 0;
        padding-left: 0;
        border: 0;
      }

      .text-light {
        color: #babbbc !important;
      }

      .card .row-bordered>[class*=" col-"]::after {
        border-color: rgba(24, 28, 33, 0.075);
      }

      .text-xlarge {
        font-size: 100% !important;
      }
    </style>

    <script type="text/javascript">

    </script>

  </body>

  </html>