<%- include('partials/header.ejs'); -%>

<head>

    <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'><link rel="stylesheet" href="../assets/alert/style.css">
 


</head>
<body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <!-- <div class="page-title">
                                    <h1>View Allowances Here</h1>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Allowances</h4>

                                </div>


                                <div class="card-body">
                                    <div class="horizontal-form-elements">
                                       
                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">DA</label>
                                                        <div class="col-sm-10">
                                                            <label class="col-sm-6 control-label"><%=data[0].da_MultFactor %></label>
                                                        </div>
                                                    </div>

    

                                                    <!-- <div class="form-group">
                                                        <label class="col-sm-6 control-label">HRA</label>
                                                        <div class="col-sm-10">
                                                           
                                                            <label class="col-sm-6 control-label"><%= data[0].hra_MultFactor %></label>
                                                        </div>
                                                    </div> -->

                                                </div>
                                                    <!-- /# column -->
                                                    <!-- <div class="column"> -->
                                                    <div class="col-lg-6">

                                                        

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">HRA</label>
                                                            <div class="col-sm-10">
                                                               
                                                                <label class="col-sm-6 control-label"><%= data[0].hra_MultFactor %></label>
                                                            </div>
                                                        </div>
    
                                                    </div>

                                                        <!-- <div class="form-group">
                                                            <label class="col-sm-6 control-label">TA</label>
                                                            <div class="col-sm-10">
                                                               <label class="col-sm-6 control-label"><%= data[0].ta %></label>

                                                            </div>
                                                        </div> -->


                                                    </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js'></script><script  src="../assets/alert/script.js"></script>
</body>

</html>